    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
        <div id="logo_area">
            <img src="img/logo (1).png" alt="Logotipo Agora Vai!" title="logo da empresa" />
            <hgroup>
                <h1>Agora Vai!</h1>
                <h2>Os melhores funcionários é com a Agora Vai!</h2>
            </hgroup>
        </div>
    </header>
    <main>
        <section id="banner">
            <div class="section-container1">
                <p>
                    <br />
                    <h2 class="h2">Planos</h2>
                    <br />
                    <span class="up-text"></span>
                    <strong class="banner_destaque preco"></strong>
                </p>
                <div class="teste">
                    <div class="filler">
                        <img src="img/c699d336ea.jpg" alt="Plano Bronze" title="Plano Bronze" />
                        <div class="preco">
                            <p>R$29,99</p>
                        </div>
                    </div>
                    <div class="filler">
                        <img src="img/9df5c4ac0e.jpg" alt="Plano Prata" title="Plano Prata" />
                        <div class="preco">
                            <p>R$79,99</p>
                        </div>
                    </div>
                    <div class="filler">
                        <img src="img/363c42a591.jpg" alt="Plano Ouro" title="Plano Ouro" />
                        <div class="preco">
                        <p>R$149,99</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section id="Contatos">
            <div class="container">
                <div>
                <img src="img/icon_face.png" alt="Facebook" title="Facebook">
                <p>www.facebook.com/AgoraVai</p>
                </div>
                <div>
                <img src="img/icon_gmail.png" alt="Gmail" title="Gmail">
                <p>Contato@AgoraVai.com.br</p>
                </div>
                <div>
                <img src="img/icon_insta.png" alt="Instagram" title="Instagram">
                <p>www.instagram.com/AgoraVai</p>
                </div>
                <div>
                <img src="img/icon_twitter.png" alt="Twitter" title="Twitter">
                <p>www.twitter.com/AgoraVai</p>
            </div>
        </section>
        <section id="historia">
            <div class="outro-container">
                <div class="flex-group">
                    <h2>Nossa <br /> História</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione officiis eveniet enim blanditiis dignissimos, laborum magni exercitationem dolorem nisi sunt, facilis nam? Et perferendis libero incidunt minus. Reiciendis, iste impedit!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quidem, unde voluptates ex officia deserunt dolor eos accusantium, maxime ullam accusamus esse itaque aliquid rerum amet tempore ducimus fugiat Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sint, molestiae sit illum quia tenetur, quas modi voluptates exercitationem magnam dolorum incidunt praesentium. Unde soluta assumenda sunt. Cupiditate, necessitatibus. Necessitatibus.</p>
                </div>
            </div>
        </section>
        
        <section id="local">
            <div class="legal-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
                    width="1366" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
    </main> 
</html>