.item-extended {
    grid-column: 1/3;
    justify-self: end;
    background-color: #000;
}

.footer {
    background-color: cornflowerblue;
    font-weight: bold;
    text-align: center;
    color: #a70000;
}

